.back-container{
    position: relative;
    top: 5%;
    left: 5%;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 100%;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: all 0.4s ease;
}
.back-ul{
    padding: 0;
    margin: 0;
}
.back-item{
    color: black;
    padding: 10px;
    transition: all 0.2s ease;
    font-size: 20px;
}
.back-container:hover{
    transform: translateX(-6px);
}
.back-item:hover{
    transform: translateX(-8px);
}
.back-item:visited{
    color: black;
}