.radio-container{
    width: 100%;
    height: 200vh;
}
.radio-hero{
    width: 100%;
    height: 50%;
    background-image: url('../assets/radio.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.stream-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 50%;
    width: 100%;
}
.stream-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
